/*
css My App
h1 {
  font-size: 60px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

div {
  font-size: 15px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-color: black;
  text-align: center;
  margin: 0;
}

button {
  background-color: pink;
  border-radius: 5px;
  border-color: red;
  padding: 15px;
  color: red;
}
  */



/*css pokemon */

body {
  margin: 0;
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

h1 {
  text-align: center;
}