.pokemon-card {
    border: 1px solid #333333;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #121212;
}

.pokemon-id {
    font-size: 1rem;
    color: #aaaaaa;
    margin-bottom: 8px;
}

.pokemon-image-container {
    min-height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.pokemon-image-container img {
    width: 96px;
    height: 96px;
}

.pokemon-name {
    text-transform: capitalize;
    font-size: 1rem;
    color: #ffffff;
}